<p class="text-center">
  calculator works!
</p>
<main class="" style="max-width: 100%;">
  <div class="container border rounded p-5" style="width: 50%; background-color: #00473e;">
    <div class="row">
      <p class="fs-3 border rounded p-3" style="background-color: #f2f7f5;">number display : {{ number }}</p>
    </div>
    <div class="calculator-button row">
      <button class="col"> MRC </button>
      <button class="col"> M- </button>
      <button class="col"> M+ </button>
      <button class="col"> % </button>
      <button class="col"> ÷ </button>
    </div>
    <div class="calculator-button row">
      <button class="col"> MI/EX </button>
      <button class="col"> 7 </button>
      <button class="col"> 8 </button>
      <button class="col"> 9 </button>
      <button class="col"> x </button>
    </div>
    <div class="calculator-button row">
      <button class="col"> +/- </button>
      <button class="col"> 4 </button>
      <button class="col"> 5 </button>
      <button class="col"> 6 </button>
      <button class="col" (click)="minusNumber()"> - </button>
    </div>
    <div class="calculator-button row">
      <button class="col"> C </button>
      <button class="col"> 1 </button>
      <button class="col"> 2 </button>
      <button class="col"> 3 </button>
      <button class="col" (click)="addNumber()"> + </button>
    </div>
    <div class="calculator-button row">
      <button class="col"> AC </button>
      <button class="col"> 0 </button>
      <button class="col"> . </button>
      <button class="col"> = </button>
    </div>
  </div>
  <div class="mt-4 row body-side justify-content-md-center">
    <p class="col-6 fw-bold"> this is my respond from my api that i create for testing </p>
    <p class="col-3"> {{ data | json }} </p>
    <p class="col-3"> data from json is "{{ data.word }} </p>
  </div>
</main>
